server:
  port: 8072
  
logstash.host: 3.136.161.26:5000
 
logging: 
  config: classpath:logback-delayed.xml
  
 
eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eurekaserver:8070/eureka/
      
spring:
  zipkin:
    baseUrl: http://zipkin:9411
  sleuth:
    sampler:
      percentage: 1
  cloud:
    loadbalancer.ribbon.enabled: false
    gateway:
        routes:
        - id: customer-service
          uri: lb://customer-service
          predicates:
          - Path=/customer/**
          filters:
          - RewritePath=/customer/(?<path>.*), /$\{path}
          - RemoveRequestHeader= Cookie,Set-Cookie
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/inventory/**
          filters:
            - RewritePath=/inventory/(?<path>.*), /$\{path}
            - RemoveRequestHeader= Cookie,Set-Cookie
        - id: orders-service
          uri: lb://orders-service
          predicates:
            - Path=/orders/**
          filters:
            - RewritePath=/orders/(?<path>.*), /$\{path}
            - RemoveRequestHeader= Cookie,Set-Cookie
   
    
management:
  endpoints:
    web:
      exposure:
        include: "*"
        
        
        